.main {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  margin: 0;
  padding: 0;
}

